<div class="index-content-wrapper">

  <div class="sidebar">

    <p class="simple-label">Recent Posts</p>
    <ul class="post-list" id="post-list">
      {% for post in site.posts offset:1 %}
        {% if forloop.index <= 5 %}<li class="each-post recent-post">
        {% else %}<li class="each-post older-post">{% endif %}
          <a class="post-wrap-link" href="{{ post.url }}">
            <p class="post-list-title">{{ post.title }}</p>
            <time class="post-list-date" datetime="{{ post.date }}">
              {{ post.date | date: '%B %d, %Y' }}
            </p>
          </a>
        </li>
      {% endfor %}
      <li>
        <p class="simple-label" id="show-more-posts" data-older-visible="false">
          Show <span>More</span> Posts
        </p>
      </li>
    </ul>

  </div>

  <div class="main-content">

    <p class="simple-label">Newest Post</p>
    <article class="post newest-post">
      <h2 class="post-title">{{ site.posts.first.title }}</h2>
      <p class="post-date">{{ site.posts.first.date }}</p>
      {{ site.posts.first.content }}
    </article>

  </div>

</div>