<div class="single-post-nav">
  {% if page.previous %}
    <a class="single-post-nav-link single-post-nav-previous" href="{{ site.basePath }}{{ page.previous.url }}">
      <p class="single-post-nav-title">{{ page.previous.title }}</p>
    </a>
  {% else %}
    <div class="single-post-nav-link single-post-nav-link-disabled single-post-nav-previous">
      <p>No previous post.</p>
    </div>
  {% endif %}

  {% if page.next %}
    <a class="single-post-nav-link single-post-nav-next" href="{{ site.basePath }}{{ page.previous.url }}">
      <p class="single-post-nav-title">{{ page.previous.title }}</p>
    </a>
  {% else %}
    <div class="single-post-nav-link single-post-nav-link-disabled single-post-nav-next">
      <p>No next post.</p>
    </div>
  {% endif %}
</div>