{% for post in site.posts %}
  {% if post.url == page.url %}
  
    <div class="single-post-navigation">
      <!--
      {% assign index = forloop.index %}
       
      {% capture prevIndex %}{{ index | minus: '1' }}{% endcapture %}
      {% capture nextIndex %}{{ index | plus: '1' }}{% endcapture %}
      
      {% assign prevPost = site.posts[prevIndex] %}
      {% assign nextPost = site.posts[nextIndex] %}
      
      {% if nextPost %}
        <a id="go-next-post" class="next-post" href="{{ nextPost.url }}">Next Post</a>
      {% else %}
        <span class="next-post disabled">Next Post</span>
      {% endif %}
      
      {% if prevPost %}
        <a id="go-prev-post" class="next-post" href="{{ prevPost.url }}">Previous Post</a>
      {% else %}
        <span class="prev-post disabled">Previous Post</span>
      {% endif %}
      -->
      
      {% if page.next %}
        <a id="go-next-post" class="next-post" href="{{ page.next.url | remove_first:'/' }}">Next Post</a>
        <p>Link Address {{ page.next.url }}
      {% else %}
        <span class="next-post disabled">Next Post</span>
      {% endif %}
      
      {% if page.previous %}
        <a id="go-prev-post" class="next-post" href="{{ page.previous.url | remove_first:'/' }}">Previous Post</a>
        <p>Link Address {{ page.previous.url }}
      {% else %}
        <span class="prev-post disabled">Previous Post</span>
      {% endif %}
      
      
    </div>
  
  {% endif %}
{% endfor %}