*
*:after
*:before
	box-sizing border-box

ibl-parent()
	font-size 0

ibl-child()
	font-size 1rem
	display inline-block
	vertical-align top

body
	background #f5f5f5
	margin-left 2rem
	margin-right 2rem

.index-content-wrapper
	ibl-parent()
	.first-post
	.post-list
		ibl-child()
	.post-list
		width 30%
	.first-post
		margin-left 10%
		width 60%

.posts
	list-style-type none
	.each-post
		// margin-bottom 3rem
		&:nth-of-type(n+5)
			display none
		&:not(:first-of-type) .post-wrap-link
			border-top 1px solid rgba(0,0,0,.15)

.post-wrap-link
	display block
	// change to text color variable
	color black
	text-decoration none
	&:hover
			background #fff
			color black
			text-decoration underline
			box-shadow 0 0 4px rgba(0,0,0,.33)
	& p
		margin 0

.post-list-title
	// change to sans font variable
	font-family sans-serif
	font-weight bold

// ul of links in the footer include
.footer-links
	list-style-type none