*
*: after;
*:before {
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
.index-content-wrapper {
  font-size: 0;
}
.index-content-wrapper .first-post,
.index-content-wrapper .post-list {
  font-size: 1rem;
  display: inline-block;
}
.index-content-wrapper .post-list {
  width: 25%;
}
.index-content-wrapper .first-post {
  width: 75%;
}
.posts .each-post {
  border-bottom: 1px solid #ccc;
}
.posts .each-post:nth-of-type(n+5) {
  display: none;
}
.post-wrap-link {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 1.5rem;
}
.post-wrap-link:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
.post-list-title {
  font-family: sans-serif;
  font-weight: bold;
}
